/* dashboard.css */

.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: #333;
    padding: 20px 0 20px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h2 {
    text-align: center;
}

.header nav {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.header a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
}

.header a:hover {
    background-color: #575757;
}

.container {
    flex: 1;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Styles for cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: left;
}

.card h4 {
    margin-top: 0;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card li {
    margin-bottom: 10px;
}

/* Styles for line chart */
.line-chart {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 20px;
}

.line-chart canvas {
    width: 100% !important;
    max-width: 100%;
}

#temperature, #humidity, #lembab {
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Responsive table */
@media (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }

    th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
        display: block;
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
    }
}
